@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    background-color: #FAF9F6;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
header{
    background-color: #FFFFFF;
    padding: 2rem;
    padding-left: 20px;
    padding-right: 30px;  
    display: flex;
    z-index: 100;
    justify-content: space-between;
}

#header_id{
    width: 1001vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a{
    color: #0a525f;
    font-size:25px;
    margin: 0 1.5rem;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    justify-content: space-between;
}

#consult_now{
    color: #FFFFFF;
    background-color: #0a525f;
    padding: 15px 10px 15px 10px;
    border-radius: 1px solid black;
    margin-top: -5px;
    padding-left: -10px;
 }
#icons{
    display: flex;
    gap: 30px;
}
#home-icon{
    font-size: 30px;
    margin-top: 2px;
}

#sorting {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#sorting > div > select, #sorting > button {
    width: 180px;
    height: 50px;
    font-size: 17px;
    text-align: center;
    border: 1px solid white;
    background-color: #0a525f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}

#sorting > div > select:hover , #sorting > button:hover {
    background-color: white;
    color: #0a525f;
    border: 1px solid #0a525f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    transform: scale(1.2);
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}

#container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #a6eae6;
    background-image: linear-gradient(180deg, #a6eae6 0%, #ffffff 100%);
    

}

#container > div:hover {
    transform: scale(1.05);
    background-color: #a6eae6;
    background-image: linear-gradient(0deg, #a6eae6 0%, #ffffff 100%);
    transition: 0.6s;
}

#childs-child{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container > div > div > button {
    width: 95%;
    height: 40px;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
    border: 1px solid white;
    background-color: #0a525f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
}

#container > div > div > button:hover {
    background-color: white;
    color: #0a525f;
    border: 1px solid #0a525f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    font-size: 16px;
}

#container > div > img {
    margin-bottom: 40px;
    transition: 0.3s;
}



#container > div > img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#container > div > p {
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
}


/* pagination */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper ul{
	display: flex;
	padding: 8px;
	border-radius: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.wrapper ul li{
	list-style-type: none;
	line-height: 55px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	background-color: #000;
	margin: 10px;
	border-radius: 50px;
	color: #fff;
	padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper ul li.numb{
	border: 1px solid white;
    background-color: #0a525f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    height: 40px;
}

.wrapper ul li.numb:hover {
    background-color: white;
    color: #0a525f;
    border: 1px solid #0a525f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    transform: scale(1.2);
}

.wrapper ul li.btn{
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: #0a525f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s;
    height: 40px;
}
.wrapper ul li.btn:hover{
	background-color: white;
    color: #0a525f;
    border: 1px solid #0a525f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    transform: scale(1.2);
    font-size: 20px;
}
.wrapper ul li.active{
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 20px;
}