/* @import url("https://fonts.googleapis.com/css2?
family=Poppins:wght@300;400;500;600;700;800;9008 display-swap"); */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://png.pngtree.com/back_origin_pic/04/57/88/bd90d67d6a09e0952d804fbff5511f9e.jpg') no-repeat center center fixed;
    
    /* background: rgb(243,243,243); */
    background-size: cover;
}
#main {
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: auto;
}



.wrapper {
    width: 100%; /* Make the wrapper div the same width as the image */
}
#tostBox{
    position: absolute;
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    align-items: center; 
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.tost{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    align-items: center;
    position: relative;
}
.tost i{
    margin: 0 20px;
    font-size: 35px;
    color: red;
    padding-right: 10px;
    border-right: 1px solid rgb(205, 203, 203);
}
.tost::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: red;
    animation: anim 1.5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}
#email , #password, #name{
    color: black;
}
.wrapper{
    width: 420px;
    background: #fff;
    border: 2px solid rgb(214, 214, 214);
    /* backdrop-filter: blur(20px); */

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    /* font-size: 36px; */
    text-align: center;
    color: black;
}

.wrapper .Input-box{
    position: relative;
    width:100%;
    height: 50px;
    margin: 30px 0;
}

.Input-box input{
    width: 100%;
    height: 100%;
    background: rgb(238,238,238);
    border: none;
    outline: none;
    /* border: 1px solid  ; */
    /* border-radius: 40px; */
    font-size: 15px;
    color: rgb(243,243,243);
    padding: 20px 45px 20px 20px;
}

.Input-box input::placeholder{
    /* color: rgb(0, 139, 157); */
}
.Input-box i{
    color: black;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.forgot{
    display: flex;
    /* justify-content: space-around; */
    /* align-content: end; */
    font-size: 15px;
    margin: -15px 0 15px;
}

.forgot a{
    color: #a1a1a1;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
}
 .wrapper .btn{
    width: 100%;
    height: 45px;
    background:rgb(0, 139, 157);  
    border: none;
    outline: none;
    border-radius: 40px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.wrapper .register-link{

    font: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color:rgb(0, 139, 157);
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.register-link p{
    color: rgb(165, 165, 165);
}
.popup{
    
    width: 600px;
    height: 700px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.popup-open{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%)scale(1);
}
.popup img{
    margin-top: 10px;
    width: 500px;
    height: 70%;
   

}
.popup .h2{
    font-size: 38px;
    font-weight: 500;
    margin: 50px 0 10px;
    padding: 20px;
}

.popup button{
    width: 80%;
    margin-top: 20px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
