#home-testimonials{
    border: 1px solid red;
    padding-bottom: 20px;
}
.home-headings-testimonials{
    margin-bottom: 30px;
}
.h1-heading-testimonials{
    text-align: center;
    color: #0a525f;
    font-size: 24px;
    margin-top: 60px;
    font-weight: 500;
}
.h2-heading-testimonials{
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
}
.splide{
    height: auto;
    /* border: 1px solid black; */
    border: none;
}
.splide__track{
    padding: 30px;
    /* border: 1px solid black; */
}
.splide__list{
    overflow: visible;
    /* border: 1px solid black; */
}
.splide__slide{
    /* border: 1px solid black; */
    overflow: visible;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.homepage-testimonial-subdiv1{
    padding: 15px;
}
.homepage-testimonial-subdiv1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.homepage-testimonial-subdiv2{
    padding: 10px;
    text-align: justify;
}
.splide__slide hr{
    color: lightgray;
    width: 85%;
    margin: auto;
}